.cellar {
  background-color: rgb(238, 238, 238);
  height: 800px;
  display: flex;
}

.grid-container {
  width: 60%;
  margin-top: 20px;
  margin-left: 10%;
  border: 1px solid black;
}

.grid {
  background-color: white;
}

.add-bottle-btn {
  margin-top: 20px;
  margin-left: 10px;
  border: 1px solid black;
}
